# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Outputs and reports
salidas/
*.log

# Local config/secrets
*.ini
!db.example.ini
